html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body, * {
  cursor: url("../assets/cur.svg") 50 50, auto;
}

html body img, html body video, html body *:has(> img, + img, > video, + video) {
  cursor: url("../assets/white_cur.svg") 50 50, auto;
}

* {
  line-height: 1.2;
}

*::selection {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

.video-frame video {
  width: 100% !important;
  height: 100% !important;
  scale: 1.5;
}

.tag {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.tag:not(.live) {
  background-color: #eee;
  color: #333;
}

.container video {
  display: block;
}

/* start nav */

nav, nav button, nav a, nav img, nav * {
  cursor: url(../assets/cur.svg) 50 50, auto !important;
}

nav {
  width: fit-content;
  backdrop-filter: blur(16px);
  background-color: rgba(232, 229, 228, 0.5);
  margin: 2rem auto;
  padding: 0.25rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

nav a {
  font-size: small;
  padding: 0.6rem 1.5rem;
  border-radius: calc(2rem + 0.3rem);
}

nav a:hover {
  color: initial;
}

nav a.active {
  background-color: white;
}

nav a button,
nav a img,
nav a button:active,
nav a button:focus,
nav a img:active,
nav a img:focus {
  background-color: inherit;
  color: black initial !important;
  border: none !important;
}

/* end nav */

/* start header */

header {
  margin-top: 8rem;
  min-height: 30rem;
}

header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  margin-top: 6rem;
}

header > div > .tags {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: none !important;
  overflow: hidden;
  
  @media (min-width: 768px) {
    display: flex !important;
    justify-content: center;
    gap: 1rem;
  }
}

header > div p {
  margin-bottom: 1rem;
  font-size: 72px;
}

/* end header */

/* start projects */

.project {
  position: relative;
  overflow: hidden;
}

.project.locked .texts {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 1200px) {
  .project.locked .texts {
    display: block;
  }
}

.project .anchor {
  display: none;
}

@media (min-width: 1200px) {
  .project .anchor {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 3rem;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
  }
}

.project .texts p {
  font-size: 1rem !important;
  margin: 0;
}

.project .texts {
  padding-top: 1rem;
  font-size: 0.8rem;
  opacity: 0;
  transition: 0.5s;
  color: black;
}

.project .frame {
  height: 100%;
}

@media (max-width: 1200px) {
  .project > .frame {
    height: 90%;
  }

  .project .texts {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .project .texts {
    position: absolute;
    top: 0;
    color: white;
    padding: 1rem;
  }

  .project:hover .texts {
    opacity: 1;
  }

  .project:hover .anchor {
    opacity: 1;
    margin: 1.5rem;
  }

  .project:hover > .frame {
    filter: blur(16px);
  }
}

@media (min-width: 1200px) {
  .project > .frame {
    filter: blur(0);
    transition: 0.5s;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.project > .frame > .texts > p {
  cursor: url("../assets/white_cur.svg") 50 50, auto !important;
}

.project > .frame > * {
  width: 100%;
}

.project:has(.frame) {
  height: 100%;
}

.project > .frame video {
  height: 100%;
  scale: 1.3;
}

/* end projects */

/* start contact */

.contact {
  height: 30vh;
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  & > * {
    font-size: 3.5em;
    font-weight: normal;
  }

  @media (max-width: 576px) {
    & > * {
      font-size: 2.5em;
    }
  }
}

/* end contact */

/* start footer */

footer .item > img {
  width: 2rem;
}

footer .item > ul {
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
    display: contents;

    &:hover {
      color: #888 !important;
    }
  }

  & a {
    color: unset;
    text-decoration: none;
  }
}

/* Amr haled's code */
h2.mainText {
  width: 90%;
}

@media only screen and (max-width: 576px) {
  .mainText {
    font-size: 2em;
  }
}

@media only screen and (min-width: 576px) {
  .mainText {
    font-size: 3em;
  }
}

@media only screen and (min-width: 768px) {
  .mainText {
    font-size: 4em;
  }
}
